$family_josefin: "Josefin Sans", sans-serif;
$family_cormorant: "Cormorant", serif;
$family_cormorant_bold: "Cormorant Bold", serif;

$main_size_20: 20px;
$main_size_22: 22px;
$main_size_100: 100px;

$main_height_30: 30px;
$main_height_33: 33px;
$main_height_110: 110px;

$main_weight_400: 400;

$main_color_text_gray: #555555;
$main_color_text_white: #FFFFFF;
$main_color_back_black: #292E36;
$main_color_back_brown: #FFF8F5;
$main_color_back_white: #FFFFFF;
$main_color_gold: #E1B168;
$main_color_gray: #5C6168;

